<!DOCTYPE html>
<html>
    <head>
        <title>Натисни SPACE</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <div class="content" style="justify-content: center;">
            <h1 style="font-family: Arial, Helvetica, sans-serif;">
                Моя дорога Олю,
            </h1>
            <h3></h3>
            <h1 h1 style="font-family: Arial, Helvetica, sans-serif;">
                Вітаю тебе з Днем народження! 💖

                Сьогодні — твій особливий день, і я хочу, щоб ти знала, наскільки ти для мене важлива. Ти — неймовірна, ніжна, мудра, щира та неймовірно красива дівчина, і я щасливий, що ти є в моєму житті.
                
                Нехай цей рік принесе тобі ще більше радості, тепла, здійснення мрій і моментів, які захоплюють дух. Бажаю тобі здоров’я, щасливих усмішок, любові — і щоб усе, до чого торкаєшся, ставало світлішим.
                
                Дякую тобі за твою доброту, підтримку й те тепло, яке ти даруєш мені щодня. Я пишаюся тобою і безмежно ціную кожну мить поруч із тобою.
                
                З нетерпінням чекаю всіх пригод, що ще попереду — разом із тобою!
            </h1>
            <h1></h1>
            <h4 style="justify-content: center;">Поглянь у лівий нижній куток</h4>
        </div>
        
        <div style="position: fixed; bottom: 20px;
        left: 20px;">
            <h4>Шутка, правий нижній куток</h4>
        </div>

        <div style="position: fixed; bottom: 20px;
        right: 20px;">
            <a href="https://www.youtube.com/embed/rAB_weH8WKg?autoplay=1">
                <button>Натисни мене</button>
              </a>
        </div>

        <div id="overlay"></div>


        <script src="/static/script.js"></script>
    </body>
</html>

